---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/Base.astro';
import { createMarkdownRender } from 'unplugin-markdown-2-html/dist/renderer.js';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: post.id.replace(/\.draft$/, '').replace(/^posts\//, '') }, 
    props: { post },
  }));
}

const { post } = Astro.props
const markdownRender = await createMarkdownRender({
  highlight: {
    theme: {
      default: 'kricsleo.gentle-clean.Gentle Clean Light',
      dark: 'kricsleo.gentle-clean.Gentle Clean Dark'
    }
  }
})
const rendered = markdownRender(post.body!)
const date = new Date(post.data.date).toISOString().split('T')[0]
---
<BaseLayout title={post.data.title}>
  {rendered.css && <style set:html={rendered.css} />}
  <main class="prose viewport pt-4xl pb-9xl">
    <h1 class="!mb-1">{post.data.title}</h1>
    <time class="text-soft" datetime={date}> {date} </time>
    <article class="mt-5xl block" set:html={rendered.html} />
  </main>
</BaseLayout>