---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/Base.astro';

const rawPosts = await getCollection('posts')
const posts = rawPosts
  .filter(post => !post.slug.endsWith('draft'))
  .sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf())
  .map(post => ({ 
    slug: post.slug.replace(/draft$/, ''), 
    title: post.data.title, 
    date: new Date(post.data.date).toISOString().split('T')[0]
  }))
---
<BaseLayout title="Posts">
  <ul class="viewport grow-1 grid md:grid-cols-2 gap-y-4xl gap-x-6xl content-center items-center pt-6xl pb-8xl">
    {posts.map(post => (
      <li class="truncate group">
        <a 
          class="text text-xl group-hover:text-highlight transition-color" 
          href={`/${post.slug}`} 
          title={post.title}>
          {post.title}
        </a>
        <br />
        <time class="text-soft text-sm group-hover:text transition-color" datetime={post.date}>
          {post.date}
        </time>
      </li>
    ))}
  </ul>
</BaseLayout>